.footer-mid {
    margin-left: 24px;
    margin-right: 24px;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
}

.footer-mid-grid {
 display: grid;
 gap: 32px;
}



.footer-column-grid{
    display: grid;
    gap: 16px;
}
.footer-title {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
    text-transform: uppercase;
    font-weight: 600;
}
.footer-contacts {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
}
.footer-contacts-svg {
    width: 16px;
    margin-right: 16px;
}

@media (min-width: 768px) {
    .footer-mid-grid{
        grid-template-columns: repeat(2, 1fr)
    }
    .footer-mid {
        text-align: left;
    }
    .footer-title {
        justify-content: start;
    }
    .footer-contacts {
        justify-content: start;
    }
 }

 @media (min-width: 1024px) {
    .footer-mid-grid{
        grid-template-columns: repeat(4, 1fr)
    }
 }