//RAINBOW
$base-red: #ffbebe;
$base-orange: #ffe6be;
$base-yellow: #ffffbe;
$base-green: #beffbe;
$base-cyan: rgb(190, 255, 255);
$base-violet: rgb(190, 190, 255);
$base-rose: rgb(255, 190, 255);


//MAIN THEME
$text-color: #000;
$text-secondary-color: #666;
$text-ghost: $text-color;
$border-color-ghost: #aaa;

$base-element-color: #89cd5d;
$contrast-element-color: #89cd5d;
$border-color: #6a329f;
$hover-base-color: #eee;
//TASK COLUMNS
$high-text:$text-color;
$medium-text:$text-color;
$low-text:$text-color;
//TASK THEME
$task-border-color: transparent;
$task-base-color: #dabcff;
$modal-base-color: #ecdaff;
$task-contrast-color: #beffbe;
$alert-color: darkred;
$task-high: $task-contrast-color;
$task-medium: $task-contrast-color;
$task-low: $task-contrast-color;

body{
    background-color: $border-color;
}

/* $high-text:rgb(148, 21, 21);
$medium-text:rgb(202, 95, 7);
$low-text:rgb(47, 139, 5);
//MAIN THEME
$text-color: #333;
$text-secondary-color: #666;
$text-ghost: rgb(193, 71, 0);
$border-color-ghost: #aaa;
$border-color: #fb9852;
$hover-base-color: #eee;

$base-element-color: #e5e3ff;
$contrast-element-color: #f1c0ff;
$contrast-element-color: #dabcff;
$alert-color: red; 
#d7ffdf
body{
    background-color: #69eeee;
}
*/







.content{
    display: grid;
}
.card {
    margin: 0.25rem;
    padding: 0.75rem;
    background-color: $base-element-color;
    color: $text-color;
    border-radius: 0.5rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
}

.create-tasks-card-form {
    margin-top: 1rem;
    margin-bottom: 2rem;
    margin-left: 2.75rem;
    margin-right: 1.25rem;
    padding: 16px;
    background-color: $contrast-element-color;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.5), 0 4px 6px -4px rgba(0, 0, 0, 0.5);
    border-radius: 0.5rem;
    

    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
}

/* .create-tasks-card-form:hover{
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
} */



.show-tasks-card{
      display: grid;
      column-gap: 12px;
      box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.5), 0 4px 6px -4px rgba(0, 0, 0, 0.5);
      margin-top: 1rem;
      margin-bottom: 2rem;
}

.column-title {
    margin-top: 16px;
    margin-bottom: 14px;
    height: 40px;
    font-size: 24px;
    line-height: 1.25;
    font-weight: 600;
    border-bottom: 1px solid $text-ghost

}

@media (min-width: 1024px) {

    .content{
        grid-template-columns: repeat(3, 1fr);
    }

    .show-tasks-card{
        grid-column: span 2 / span 2;
        grid-template-columns: repeat(3, 1fr);
    }
    .column-title {
        margin-top: 0px;
    }
}

.form-new-title {
    padding-bottom: 8px;
    font-weight: 600;
    margin-bottom: 16px;
    font-size: 1.5rem; /* 24px */
    line-height: 1.5rem; 
    border-bottom: 1px solid;
}

/* INPUT NAME */
.form-new-name {
    position: relative;
    margin-bottom: 16px;
}

.new-task-name-input {
    width: 100%;
    height: 32px;
    border: 0px;
    border-bottom: 2px solid $border-color;

    font-size: 1rem; /* 16px */
    line-height: 1.5rem; /* 24px */ 
    background-color: $contrast-element-color !important;    
}
.new-task-name-input:focus{
    border-bottom: 2px solid $border-color;

    outline: 2px solid transparent;
    outline-offset: 2px;    
}
.new-task-name-input::placeholder {
    color: transparent;
}

.new-task-name-input-label {
    position: absolute;
    left: 0;
    top: -14px;
    font-size: 0.875rem; /* 14px */
    line-height: 1.25rem; /* 20px */

    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;     
}
.new-task-name-input:placeholder-shown + .new-task-name-input-label {
    top: 2px;

    font-size: 1rem; /* 16px */
    line-height: 1.5rem; /* 24px */   
    color: $text-ghost; 
}

.new-task-name-input:focus + .new-task-name-input-label {
    top: -14px;

    font-size: 0.875rem; /* 14px */
    line-height: 1.25rem; /* 20px */
    color: $text-color;
    
}
/* INPUT DESC */

.form-new-description {
    position: relative;
    margin-bottom: 14px;
    width: 100%;
}

.new-task-description {
    background-color: $contrast-element-color; 
    resize: none; 
    padding: 8px;
    height: 200px;

    box-sizing: border-box;
    width: 100%;
    
    overflow: auto;
    word-break:break-word;

    border: 2px solid $border-color;
    border-radius: 0.5rem;

    font-size: 1rem; /* 16px */
    line-height: 1.25rem; 
    font-family: sans-serif;
}
.new-task-description:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;   
    border: 2px solid $border-color;
}

.new-task-description-label{
    position: absolute;
    left: 14px;
    top: -10px;
    font-size: 0.875rem; /* 14px */
    line-height: 1.25rem; /* 20px */
    color: $text-ghost;

    background-color: $contrast-element-color;
    padding-left: 8px;
    padding-right: 8px;

    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;     
}
.new-task-description:focus + .new-task-description-label{
    color: $text-color;
}

/* SELECT URGENCY */
.form-new-urgency {
    margin-bottom: 14px;
}
.new-task-urgency-select {
    background-color: $contrast-element-color; 
    font-size: 1rem;
    height: 28px;
    width: 100%;
    border: 2px solid $border-color;
    border-radius: 0.5rem;
}
.new-task-urgency-select:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
}
/* SUBMIT BUTTON */
.form-new-submit {
    width: 100%;
    text-transform: uppercase;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 10px;


    
    background-color: white;

    font-size: 0.875rem; /* 14px */
    line-height: 1rem; /* 20px */
    color: $text-color;

    border: 1px solid transparent;
    border-radius: 0.5rem;

    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
}
.form-new-submit:hover {
    background-color: $hover-base-color;
}
.form-new-submit:disabled{
    background-color: $contrast-element-color;
    color: $text-ghost;
    cursor: not-allowed;
    border: 1px solid $hover-base-color;
}


input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #89cd5d inset !important;
}

//new
.highPriorityColumn {
    color: $high-text;
    border-bottom: 2px solid darkred
}
.mediumPriorityColumn{
    color: $medium-text;
    border-bottom: 2px solid rgb(215, 111, 0)
}
.lowPriorityColumn{
    color: $low-text;
    border-bottom: 2px solid green
}
//old