/* MODAL */

.modal {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    display: flex;
    flex-direction: column;
    width: 500px;
    background-color: #f3f3f3;
    color: #2a2a2a;
    border-radius: 0.5rem;
}
.modal-header {
    padding: 5px;
}

.modal-title {
    margin: 0;
    margin-left: 15px;
    margin-right: 15px;
    padding: 0.75rem;
    border-bottom: 1px solid #eee;

    font-size: 1.5rem; /* 16px */
    line-height: 1.75rem; 
    font-family: sans-serif;
    
}
.modal-title-margin{
    margin-left: 15px;
    margin-right: 15px;
    padding: 0.25rem;

    border-bottom: 1px solid #eee;

}
.modal-title-input {
    box-sizing: border-box;
    width: 100%;
    border: 0;
    font-size: 1.5rem; /* 24px */
    line-height: 1rem; 
    font-family: sans-serif;
    font-weight: 700;
    border-radius: 0.5rem;
    padding: 0.5rem;
}
.modal-body-edit {
    box-sizing: border-box;
    min-height: 20rem;
    resize: none;
    padding: 10px;
    margin-left: 15px;
    margin-right: 15px;

    border-radius: 0.5rem;

    font-size: 1rem; /* 16px */
    line-height: 1.25rem; 
    font-family: sans-serif;
}
.modal-body {
    box-sizing: border-box;
    min-height: 20rem;
    resize: none;
    padding: 10px;
    margin-left: 15px;
    margin-right: 15px;

    background-color: #f3f3f3;

    border: solid 1px rgba(0,0,0,0);

    font-size: 1rem; /* 16px */
    line-height: 1.25rem; 
    font-family: sans-serif;
}

.modal-body:focus{
    outline: 2px solid transparent;
    outline-offset: 2px;
}


.modal-footer {
    margin-top: 5px;
    padding: 10px;
    border-top: 1px solid #eee;
    margin-left: 15px;
    margin-right: 15px;
}
.modal-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.modal-button {
    text-transform: uppercase;
    font-weight: 600;
    padding: 10px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 0.5rem;
    border: 0;

    background-color: white;
    border: 1px solid #eee;


    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
}
.modal-button:hover {
    background-color: #eee;
}

/* TASK */
.task{
    position: relative;
}
.task-cross{
    background-color: rgba(0, 0, 0, 0);
    border: 0px;
    position: absolute;
    top: 4px;
    right: 4px;

    transition-duration: 500ms;
    transition-timing-function: ease-in-out;

}
.task-card{
    height: 40px;
    margin-bottom: 8px;
    padding: 10px;
    align-items: center;
    font-size: 1.1rem;
    color: #2a2a2a;
    border: 1px solid #ddd;

    background-color: #eee;
    border-radius: 0.5rem;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);

    word-break: break-all;
    overflow: hidden;

    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
}
.task-card:hover{

    background-color: white;

    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
}


.task-cross-svg:hover path {
    stroke: darkred;
  }
  
.task-cross:hover + .task-card {
    background-color: white;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}


