.footer {
    background-color: #f3f3f3;
    color: #333;
}
.footer-bot {
    padding: 24px;
    text-align: center;
    background-color: #eee;
}
.link{
    text-decoration: none;
    color: #303030;
}
.semibold{
    font-weight: 600;
}
