.footer-top {
    display: flex;
    padding: 24px;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #afafaf;
}
.contacts-label {
    display: none;
}

.contacts-links {
    display: flex;
}

.icon-link {
    margin-right: 24px;
}

.icon-svg-10 {
    width: 10px;
}
.icon-svg-14 {
    width: 14px;
}
.icon-svg-16 {
    width: 16px;
}

@media (min-width: 768px) { 
    .footer-top {
        justify-content: space-between;
    }
    .contacts-label {
        display: block;
     }
 }


